* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #020A18;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.header {
    display: flex;
    justify-content: center;
    padding: 39px 0;
    gap: 32px;
    border-radius: 10px;
    background: #08101D;
}

.header_link {
    color: #FFFFFF;
}

.top_page {
    padding-top: 160px;
    padding-bottom: 99px;
    background: #08101D;
}

.top {
    margin-bottom: 197px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    gap: 128px;
}

.top_content {
    width: 604px;
}

.subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;
}

.title {
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFFFFF;

    margin-top: 10px;
    margin-bottom: 40px;
}

.top_desc {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
}

.top_button {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 50px;
}

.btn {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 30px;
    gap: 10px;

    color: #FFFFFF;
    background: #3A68B8;
    border-radius: 5px;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 68px;
    align-items: center;
}

.content_body {
    width: 484px;
}

.content_title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
}

.content_desc {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;

    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 24px;
}

.content_btn {
    background: #3A68B8;
    border-radius: 5px;
    padding: 15px 30px;


    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    justify-content: center;
    /*grid-auto-flow: dense;*/
    margin-top: 264px;
    margin-bottom: 243px;
}

.item {
    background: #132035;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    justify-items: center;
    justify-content: center;
    gap: 30px;

}

.item_header {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
}

.item_text {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;

    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
}

.item_big {
    grid-column: span 2;
    grid-row: span 2;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .subtitle {
        font-size: 16px;
    }

    .title {
        font-size: 48px;
    }

    .logos {
        max-width: 650px;
        margin: auto;
        gap: 32px;
    }

    .top {
        padding-bottom: 120px;
    }

    .items {
        grid-template-columns: repeat(1, 362px);
        gap: 32px;
    }

    .item_big {
        grid-column: span 1;
        grid-row: span 1;
    }

    .item_big img {
        width: 98px;
        gap: 30px;
    }
}