* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-style: normal;
    color: #F26376;
}

body {
    font-style: normal;
    font-family: 'Lato', sans-serif;
}

.media-2:hover svg path {
    fill: white;
    stroke: #F16D7F;

}

.media {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.media:hover {
    background: #F16D7F;
}

.media:hover svg path {
    fill: white;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.menu {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #222;
}

.menu_left {
    display: flex;
    gap: 41px;
    align-items: center;
}

.menu_right {
    display: flex;
    gap: 33px;
    align-items: center;
}

.top {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #F1E4E6;
}

.top_photo {
    max-width: 800px;
}

.top_items {
    display: flex;
    gap: 16px;
}

.top_label {
    line-height: 58px;
    max-width: 377px;
    font-weight: 700;
    font-size: 32px;
    color: #222;
}

.label_title {
    font-weight: 900;
    font-size: 48px;
}

.pink_word {
    color: #F16D7F;
}

.categories {
    margin-bottom: 96px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.img {
    position: relative;
}

.category-img {
    min-width: 320px;
}

.img_big {
    position: relative;
}


.text {
    position: absolute;

    left: 123px;
    top: 105px;
    bottom: 63.79%;


    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
}

.text_big {
    position: absolute;
    left: calc(50% - 80px);
    top: calc(50% - 25px);
    text-align: center;
    color: #FFFFFF;
}

.subtext {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F16D7F;
}

.fetured {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.fetured_headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fetured_title {
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.fetured_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #9F9F9F;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.item {
    background: #F8F8F8;
    max-width: 360px;
}

.item_content {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item_img {
    width: 100%;
}

.item_title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.item_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: #5D5D5D;
}

.item_sale {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #F16D7F;
}

.btn_text {
    padding: 15px 39px;
    border: 1px solid #FF6A6A;

    color: #F26376;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.btn_text:hover {
    background: #FF6A6A;
    color: #fff;
}

.info {
    padding-top: 103px;
    padding-bottom: 103px;
    background: #222224;
    display: flex;
    gap: 30px;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-img {
    height: 40px;
    margin-bottom: 19px;
}

.article-title {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    /* identical to box height */


    color: #FBFBFB;
}

.article-text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;

    color: #FBFBFB;
}

.under-bottom {
    position: relative;
}

.under-bottom-items {
    position: absolute;
    top: 97px;
    display: flex;
    align-items: center;
    gap: 223px;
}

.under-bottom-item {
    /*max-width: 359px;*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

.under-bottom-img {
    margin-bottom: 30px;
}

.under-bottom-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #222224;

    max-width: 359px;
}

.subscribe-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.subscribe-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;

    text-align: center;

    color: #222224;
}

.subscribe-input {
    background: #E1E1E1;
    padding: 24px 64px 24px 22px;
    font-size: 14px;
    opacity: 0.67;
    border-radius: 30px 0 0 30px;
}

.subscribe-btn {
    background: #F16D7F;
    color: #fff;
    padding: 24px 24px 24px 24px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 0 50px 50px 0;
}

.bottom {
    margin-top: -4px;
    background: #222224;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FBFBFB;
}

.bottom-right {
    display: flex;
    gap: 7px;
}

.media:hover {
    color: #F16D7F;
}

@media (max-width: 1024px) {
    .top_items {
        margin-left: 39px;
    }

    .top_photo {
        max-width: 386px;
    }

    .top_label {
        font-size: 24px;
    }

    .label_title {
        font-size: 44px;
    }

    .categories {
        gap: 19px;
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 152px);
        padding-right: calc(50% - 152px);
    }

    .menu {
        justify-items: auto;
    }

    .menu_right_img-2 {
        display: none;
    }

    .top {
        padding-top: 150px;
        padding-bottom: 150px;
        margin-bottom: 64px;
    }

    .top_items {
        margin-left: 0;
    }

    .top_photo {
        display: none;
    }

    .top_label {
        max-width: 236px;
        font-size: 20px;
    }

    .label_title {
        font-size: 38px;
    }

    .categories {
        margin-bottom: 64px;
        gap: 32px;
    }

    .big-img {
        min-width: 320px;
        max-width: 100%;
    }

    .fetured {
        padding-left: 8px;
        padding-right: 8px;
    }

    .fetured_title {
        margin-bottom: 3px;
    }

    .fetured_text {
        margin-bottom: 65px;
    }

    .items {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .item_content {
        padding: 25px 28px 20px 16px;
    }
}
